.event-card {
    box-shadow: 5px 10px 18px #888888e8;
    border: 3px;
    border-style: solid;
    border-color:rgba(50, 50, 93, 0.036);
    border-radius: 2%;
    position: relative;
  }
  .event-participants {
    margin-bottom: 4px;
    font-size: 15px;
  }
  .event-type {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .event-time {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .date-card {
    width: 105px;
    margin-top: -25px;
    margin-left: 55%;
    background-color: #c2c2c3;
  }
  .date-body {
    text-align: center;
    padding: 0.3rem 0.3rem;
  }
  .date {
    margin-top: -5px;
    margin-bottom: 0;
    font-weight: 900;
  }
  .month {
    font-weight: 300;
  }
  .react-calendar__tile--hasActive {
    background: rgb(15, 231, 241);
    border: 12px;
    border-style: solid;
    border-color: white;
    border-radius: 10%;
}

.react-calendar__tile--active {
  background: #c2cdcf;
  color: black;
  border-radius: 10%;
}
.BotonCreate {
  background-color: rgb(15, 231, 241);
}

.react-calendar { 
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }
 .react-calendar__navigation button {
  /* color: #6f48eb; */
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }
  
